body{
  color: $whiteText;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 1350px;
  margin: 0 auto;
}
a{
  color: $whiteText;
  &:hover, &:focus{
    color: $grayTextHover;
  }
}
.btn{
  padding: 10px 40px;
  border: 3px solid $red;
  color: $red;
  background-color: transparent;
  text-transform: uppercase;
  &:hover{
    color: $redHover;
    @include transition-property(border);
    @include transition-duration(0.5s);
    @include transition-timing-function(easy-in);
    border: 3px solid transparent;
  }
}
.doorsHeader{
  text-transform: uppercase;
  padding-top: 40px;
  h3{
    color: $whiteText;
    padding: 15px 0 15px 40px;
    background-color: $red;
    float: left;
    width: 410px;
    position: relative;
    margin: 0 45px 0 0;
    &:after{
      content: ' ';
      right: -33px;
      top: 0;
      width: 33px;
      height: 51px;
      position: absolute;
      border-style: solid;
      border-width: 0px 0 56px 33px;
      border-color: transparent transparent transparent #e63200;
    }
  }
  .btn:first-child{
    margin-left: 10px;
  }
}
input:focus::-webkit-input-placeholder {
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(easy-in);
  color: transparent;
}

input:focus:-moz-placeholder { /* Firefox 18- */
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(easy-in);
  color: transparent;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(easy-in);
  color: transparent;
}

input:focus:-ms-input-placeholder {
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(easy-in);
  color: transparent;
}