$icon-font-path: "../fonts/";
$imgPath: "../images/";
$whiteText: #ffffff;
$grayTextHover: rgb(255, 255, 255);
$red: #e63000;
$redHover: rgba(230, 48, 0, 0.76);
$blackText: #000000;
$gray: #727272;
$aboutDoorBodyGrayBg: #e6eaec;