#aboutDoorBody{
  background-color: $aboutDoorBodyGrayBg;
  color: $blackText;
  padding: 10px 0;
  .container{
    width: 1150px;
  }
  .doorsHeader{
    margin-bottom: 50px;
    h3{
      width: 600px;
    }
  }
  #doorMap{
    width: 860px;
    height: 655px;
    margin-bottom: 35px;
    .ulWrap{
      float: left;
      width: 230px;
      text-align: center;
      ul{
        margin-top: 20px;
        li{
          list-style-type: none;
          margin-bottom: 28px;
          .dNumber{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: transparent;
            border: 2px solid $red;
            color: $red;
            cursor: pointer;
            &:hover, {
              color: $whiteText;
              border: 0;
              background: rgba(240, 113, 1, 1);
              background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
              background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
              background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
              background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
              background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
              background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
              position: relative;
              top: -2px;
            }
            &.active {
                color: $whiteText;
                border: 0;
                background: rgba(240, 113, 1, 1);
                background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
                background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
                background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
                background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
                background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
                position: relative;
                top: -2px;
            }
          }
          .dText{
            margin-top: 5px;
            display: inline-block;
            width: 100%;
            font-size: 19px;
            &.active{
              color:$red;
              font-weight: bold;
            }
          }
        }
      }
    }
    .biggerUl{
      ul{
        li{
          margin-bottom: 8px;
        }
      }
    }
    #imgMap{
      float: left;
      padding: 0 24px;
    }
  }
  .text{
    width: 860px;
  }
}
.activeMap{
  background: rgba(240, 113, 1, 1);
  background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
}