#doorsBody{
  font-size: 12px;
  width: 1080px;
  #doorsBlock{
    padding-top: 20px;
    width: 1080px;
    color: $blackText;
    .door{
      float: left;
      margin-left: 30px;
      height: 345px;
//      padding: 10px;
      position: relative;
      width: 230px;
      .wrap{
        width: 230px;
        padding: 10px;
      }
      &:hover{
//         height: 342px;
        .wrap{
          position: absolute;
          width: 346px;
          height: 710px;
          padding: 10px;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          z-index: 1000;
          background-color: #fff;
          @include transition-property(all);
          @include transition-duration(0.5s);
          @include transition-timing-function(ease-in-out);
        }
        .text, div.share{
          @include transition-property(visibility);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-in-out);
          @include transition-delay(0.5s);
          visibility: visible;
        }
      }
      .doorShare{
        clear: both;
//        margin-bottom: 10px;
        height: 217px;
        width: 230px!important;
        .doorImg{
          float: left;
        }
        .share{
          position: absolute;
          visibility: hidden;
          float: left;
          width: 110px;
          margin-left: 5px;
          right: 10px;
          section{
            width: 110px;
            text-align: center;
            padding-top: 10px;
            display: inline-block;
            span{
              text-transform: uppercase;
              font-size: 11px;
              display: inline-block;
              clear: both;
              color: $gray;
            }
            ul{
              width: 100%;
              clear: both;
              margin: 0;
              padding: 0;
              li{
                display: inline-block;
                list-style-type: none;
              }
            }
          }
        }
        .btn{
          border: 0;
          padding: 5px;
          color: $whiteText;
          text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
          font-size: 12px;
          width: 110px;
          float: left;
          &:hover{

          }
        }
        .doorsBtn1{
          background: rgba(200,199,200,1);
          background: -moz-linear-gradient(top, rgba(200,199,200,1) 0%, rgba(67,67,66,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200,199,200,1)), color-stop(100%, rgba(67,67,66,1)));
          background: -webkit-linear-gradient(top, rgba(200,199,200,1) 0%, rgba(67,67,66,1) 100%);
          background: -o-linear-gradient(top, rgba(200,199,200,1) 0%, rgba(67,67,66,1) 100%);
          background: -ms-linear-gradient(top, rgba(200,199,200,1) 0%, rgba(67,67,66,1) 100%);
          background: linear-gradient(to bottom, rgba(200,199,200,1) 0%, rgba(67,67,66,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c7c8', endColorstr='#434342', GradientType=0 );
        }
        .doorsBtn2{
          margin-top: 5px;
          background: rgba(240, 113, 1, 1);
          background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
          background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
          background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
          background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
          background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
        }
      }
      h4{
        color: $blackText;
        text-transform: uppercase;
        clear: both;
        display: inline-block;
        font-size: 12px;
        width: 100%;
        font-weight: bold;
      }
      .subTitle{
        width: 100%;
        font-size: 12px;
        clear: both;
        display: inline-block;
      }
      .price{
        width: 100%;
        color: $red;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        clear: both;
        margin-top: 15px;
        margin-bottom: 10px;
        display: inline-block;
      }
      .text{
        visibility: hidden;
        position: absolute;
        table{
          tr{
            td{
              vertical-align: top;
              width: 50%;
            }
          }
        }
      }
    }
  }
}