footer {
  color: $whiteText;
  background: url($imgPath + "footerBg.jpg") no-repeat;
  background-size: cover;
  height: 397px;
  width: 100%;
  position: relative;
  padding: 20px 0 10px;
  #videoBlock {
    width: 471px;
    height: 315px;
    float: left;
  }
  #footerText {
    color: $blackText;
    float: left;
    width: 220px;
    margin: 0 10px;
  }
  ul {
    padding-left: 20px;
  }
  #footerMenu1 {
    float: left;
    width: 240px;
  }
  #footerMenu2 {
    float: left;
    margin-left: 20px;
    width: 290px;
    .footerListImg {
      position: relative;
      &:after {
        content: ' ';
        width: 304px;
        height: 157px;
        background-color: #e28b74;
        background: url($imgPath + "footerRussia.png") no-repeat;
        background-position: top left;
        position: absolute;
        top: -45px;
        left: -25px;
      }
    }
  }
  .footerTitle {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #b40202;
    padding-bottom: 10px;
    display: inline-block;
    width: auto;
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
    position: relative;
    &:after {
      content: ' ';
      width: 100%;
      height: 1px;
      background-color: #e28b74;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .footerListImg {
    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 5px;
      &:before {
        content: ' ';
        width: 24px;
        height: 24px;
        background-color: rgba(98, 98, 98, 0.51);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        border-radius: 50%;
        top: -2px;
        left: -30px;
      }
    }
    &.socialButtons {
      li {
        &:nth-child(1) {
          &:before {
            background-image: url($imgPath + "footerVkIco.png");
          }
        }
        &:nth-child(2) {
          &:before {
            background-image: url($imgPath + "footerG+Ico.png");
          }
        }
        &:nth-child(3) {
          &:before {
            background-image: url($imgPath + "footerFbIco.png");
          }
        }
        &:nth-child(4) {
          &:before {
            background-image: url($imgPath + "footerPinIco.png");
          }
        }
      }
    }
    &.adress {
      li {
        &:nth-child(1) {
          &:before {
            background-image: url($imgPath + "footerAdressIco.png");
          }
        }
        &:nth-child(2) {
          &:before {
            background-image: url($imgPath + "footerPhoneIco.png");
          }
        }
        &:nth-child(3) {
          &:before {
            background-image: url($imgPath + "footerEmailIco.png");
          }
        }
      }
    }
  }
  #copyright {
    padding: 15px 0;
    width: 100%;
    background-color: $red;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}