header#mainHead {
  width: 100%;
  height: 750px;
  background: url($imgPath + "headerBg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
  div#headBody {
    background-color: rgba(230, 48, 0, 0.85);
    height: 125px;

    #headerMenu {
      width: 440px;
      float: left;
      padding: 50px 0 0 0;
      ul#topMenu {
        li {
          a {
            padding-left: 7px !important;
            padding-right: 7px !important;
            background-color: transparent;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
      ul.dropdown-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
        li {
          a {
            color: $whiteText;
            &:hover {
              color: $grayTextHover;
            }
          }
        }
      }
    }
    #logoBlock {
      width: 350px;
      float: left;
      text-align: center;
      margin: 0 20px;
      position: relative;
      h1#logo {
        width: 273px;
        height: 81px;
        background: url($imgPath + "logo.png") no-repeat;
        margin: 10px auto 0;
        span {
          position: absolute;
          left: -9999px;
        }
      }
      h2 {
        font-size: 15px;
        margin: 5px 0 0 0;
      }
      #triangle{
        position: absolute;
        top: 125px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 170px 0 170px;
        border-color: rgba(230, 50, 0, 0.85) transparent transparent transparent;
        line-height: 0px;
        _border-color: rgba(230, 50, 0, 0.85) #000000 #000000 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      }
    }

    #questionsBlock {
      width: 280px;
      float: left;
      padding-top: 40px;
      .fz16 {
        font-size: 16px;
      }
      .fz18 {
        font-size: 17px;
      }
    }
    #searchBlock {
      width: 205px;
      float: left;
      padding-top: 45px;
      form{
        position: relative;
      }
      input.form-control {
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.20);
        border: none;
        -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
        color: $whiteText;
        &::-webkit-input-placeholder {
          color: $whiteText;
        }
        &::-moz-placeholder {
          color: $whiteText;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: $whiteText;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: $whiteText;
        }
        &:focus::-webkit-input-placeholder {
          color: transparent
        };
        &:focus::-moz-placeholder {
          color: transparent
        };
        &:focus:-moz-placeholder {
          color: transparent
        };
        &:focus:-ms-input-placeholder {
          color: transparent
        };
      }
      .form-group {
        position: relative;
        &:after {
          content: " ";
          width: 21px;
          height: 20px;
          position: absolute;
          background: url($imgPath + "searchIco.png") no-repeat;
          top: 6px;
          right: 10px;
        }
      }
      .btn {
        width: 21px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 23px;
        padding: 0;
        border: 0;
      }
    }
  }
}
