#mapBody{
  header{
    padding: 25px;
    background-color: $red;
    width: 100%;
    section{
      width: 860px;
      position: relative;
    }
    div{
      float: left;
      position: relative;
      &:before{
        content: ' ';
        width: 16px;
        height: 24px;
        background: url($imgPath + "adressIco.png") no-repeat;
        position: absolute;
        top: 0;
        left: -20px;
      }
    }
    #adressBlock{
      margin-right: 75px;
    }
    #phoneBlock{
      &:before {
        width: 24px;
        background: url($imgPath + "phoneIco.png") no-repeat;
      }
      span{
        margin-left: 20px;
      }
    }
  }
  #mapCanvas{
    width: 100%;
    height: 340px;
  }
}