#orderFormBody{
  padding: 30px 0;
  width: 1150px;
  #formBlock{
    width: 785px;
    height: 435px;
    margin-right: 10px;
    float: left;
    padding: 5px;
    border: 3px solid $red;
    .wrap{
      width: 775px;
      height: 420px;
      padding: 220px 5px 5px 5px;
      background: url($imgPath + "fromBlockBg.png") no-repeat;
    }

    h4{
      font-size: 18px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
    }
    #formText{
      width: 380px;
      float: left;
      padding-left: 20px;
    }
    #orderDoor{
      width: 347px;
      float: left;
      margin-left: 15px;
      text-align: center;
      label{
        width: 100%;
        font-size: 18px;
      }
      input{
        width: 100%;
        margin-top: 10px;
        height: 40px;
        border-radius: 5px;
      }
      .send{
        margin-top: 10px;
        color: $whiteText;
        border: 0;
        background: rgba(240, 113, 1, 1);
        background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
        background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
        background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
        background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
      }
    }
  }
  #catalogBlock{
    .catalogBlock{
      width: 333px;
      height: 213px;
      float: left;
      border: 3px solid $red;
      padding: 5px;
      section{
        background-color: $red;
        width: 318px;
        height: 70px;
        padding-top: 5px;
        text-align: center;
      }
      .wrap{
        padding-top: 127px;
        width: 318px;
        height: 190px;
      }
      .podbor{
        background: url($imgPath + "catalogBlock1.png") no-repeat;
      }
      .otdelka{
        background: url($imgPath + "catalogBlock2.png") no-repeat;
      }
      &:first-child{
        margin-bottom: 9px;
      }
      h4{
        text-transform: uppercase;
        font-size: 13px;
        margin: 7px;
      }
      .btn{
        font-size: 10px;
        color: $whiteText;
        border: 1px solid $whiteText;
        padding: 7px;
        &:hover{
          @include transition-property(border);
          @include transition-duration(0.5s);
          @include transition-timing-function(easy-in);
          border: 1px solid transparent;
        }
      }
    }
  }
}