#sliderBody {
  position: absolute;
  width: 706px;
  height: 471px;
  right: 100px;
  top: 205px;
  #sliderBlock {
    .owl-item.active {
      width: 681px !important;
    }
    .item {
      position: relative;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      .clear {
        width: 5px;
        height: 471px;
      }
      .slideText {
        width: 362px;
        height: 89px;
        background: url($imgPath + "slideTextBg.png") no-repeat;
        position: absolute;
        text-align: right;
        top: 50px;
        left: -5px;
        font-size: 36px;
        padding-right: 10px;
        padding-top: 5px;
        text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
        h2 {
          margin: 0;
          strong {
            text-transform: uppercase;
          }
        }
        .btn {
          margin-top: 35px;
          text-transform: uppercase;
        }
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }

    }
    .owl-pagination {
      .owl-page {
        .owl-numbers {
          border-radius: 50%;
          width: 25px;
          height: 25px;
          padding: 3px 7px;
          background-color: transparent;
          border: 2px solid $red;
          color: $red;
          &:hover, {
            color: $whiteText;
            border: 0;
            background: rgba(240, 113, 1, 1);
            background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
            background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
            position: relative;
            top: -2px;
          }
        }
        &.active {
          .owl-numbers {
            color: $whiteText;
            border: 0;
            background: rgba(240, 113, 1, 1);
            background: -moz-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 113, 1, 1)), color-stop(100%, rgba(255, 41, 0, 1)));
            background: -webkit-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -o-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: -ms-linear-gradient(top, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(240, 113, 1, 1) 0%, rgba(255, 41, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f07101', endColorstr='#ff2900', GradientType=0);
            position: relative;
            top: -2px;
          }
        }
      }
    }
    .owl-buttons {
      position: absolute;
      width: 100%;
      top: 200px;
      div {
        width: 51px;
        height: 78px;
        position: absolute;
      }
      .owl-prev {
        background: url($imgPath + "arrowLeft.png") no-repeat;
        left: -60px;

      }
      .owl-next {
        background: url($imgPath + "arrowRight.png") no-repeat;
        right: -60px;
      }
    }
  }
}

