#whyUsBody{
  background: url($imgPath + "whyUsBg.png") no-repeat;
  background-size: cover;
  height: 450px;
  color: $blackText;
  text-align: center;
  padding-top: 10px;
  h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .redLineh3{
    border-bottom: 4px solid $red;
    width: 100px;
    margin: 15px auto;
  }
  h4{
    font-weight: bold;
    font-size: 18px;
  }
  .whyUs{
    width: 370px;
    height: 177px;
    border-bottom: 4px solid $red;
    border-left: 4px solid $red;
    border-right: 4px solid $red;
    float: left;
    margin: 35px;
    padding: 20px 30px;
    position: relative;
    .redLineLeft, .redLineRight{
      position: absolute;
      height: 4px;
      width: 137px;
      top: -4px;
      background-color: $red;
    }
    .redLineLeft{
      left: -4px;
    }
    .redLineRight{
      right: -4px;
    }
    &:before{
      content: " ";
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: $red!important;
      background-position: center;
      top: -23px;
      left: 158px;
    }
  }
  .choise:before{
    background: url($imgPath + "choiseIco.png") no-repeat 13px;
  }
  .stable:before{
    background: url($imgPath + "stableIco.png") no-repeat 11px;
  }
  .guaranty:before{
    background: url($imgPath + "garantyIco.png") no-repeat 8px;
  }
  .feedback{
    color: $blackText;
    font-weight: bold;
    position: relative;
    margin-top: 15px;
    &:before{
      content: " ";
      position: absolute;
      width: 24px;
      height: 24px;
      top: -40px;
      left: 115px;
      background: url($imgPath + "whyUsCool.png") no-repeat;
    }
  }
}